<div id="<%= dom_id credit_card %>">
  <p>
    <strong>Number card:</strong>
    <%= credit_card.number_card %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= credit_card.expiration_date %>
  </p>

  <p>
    <strong>Security code:</strong>
    <%= credit_card.security_code %>
  </p>

</div>
